<div class="container  px-8 px-sm-8">
 <div class="row">
  <div class="col-2 mt-5 pt-5" style="border: double;">
   <p>ジャンル検索</p>
       <% @genres.each do |genre| %>
    <p><%= link_to genre.name,items_path(genre_id: genre.id) %></p>
       <% end %>
　 </div>
　 
　 <div class="col-6 mt-5 pt-5 offset-md-2">
　  
     <h4>商品詳細</h4>
      <% if @item.image.attached? %>
      <%= image_tag @item.image, size: "300x300" %>
      <% else %>
      <%= image_tag 'no_image', size: "300x300" %>
      <% end %>
   
     <p><%= @item.name %></p>
     <p><%= @item.description %></p>
     <p><%= @item.price %></p>
     <p>
     <% if customer_signed_in? %>
     <%= form_with model: @cart_item,url: cart_items_path do |f| %>
  
     <%= f.hidden_field :item_id, value: @item.id%>
     <%#= f.label :score %>
     <%#= f.number_field :score, step: "0.1" %>
     <%= f.select :amount, *[1..9], include_blank: "選択して下さい" %>
  
     <%= f.submit "カートに入れる",class:"btn btn-outline-danger" %>
     <% end %>
     <% end %>
     </p>
   </div>
 </div>
</div>