<ul class="nav justify-content-end">
  <li class="nav-item ">
    <span style="margin: 100px">
    <%= link_to about_path, class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light" style="width:90px;">About</button>
    <% end %>
    </span>
  </li>
  <li class="nav-item">
    <span style="margin: 100px">
    <%= link_to items_path, class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light" style="width:90px;">商品一覧</button>
    <% end %>
    </span>
  </li>
  <li class="nav-item">
    <span style="margin: 100px">
    <%= link_to new_customer_registration_path, class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light" style="width:90px;">新規登録</button>
    <% end %>
    </span>
  </li>
  <li class="nav-item">
    <span style="margin: 100px">
    <%= link_to new_customer_session_path, class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light" style="width:90px;">ログイン</button>
    <% end %>
    </span>
  </li>
</ul>
<div style="size: 80%; margin: 0 0 0 auto;" >
  <%= render 'layouts/search' %>
</div>