<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style ="min-height:100vh; box-sizing: border-box;">
    <header>
      <nav>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <h1><%= link_to("LOGO", root_path) %></h1>
            </li>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
           </ul>
           <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <%= render 'layouts/signin_admin_header' %>
            <% elsif customer_signed_in? %>
              <%= render 'layouts/signin_customer_header' %>
            <% else %>
              <%= render 'layouts/signout_header' %>
            <% end %>
          </ul>
        </div>

      </nav>
    </header>

    <%= yield %>

    <footer>
      <div class="bg-white border-top" style="height: 100px; margin-top: 50px;">
      </div>
    </footer>
    </div>
  </body>
</html>
